<ion-view style="background: #999999;"> 
    <ion-content>
        
        <br>
        
        <img src="img/logos/Mtn-Logo-Dark-02.png" width="100%">
        
        <div width="100%" class="input-field">
            
            <label class="item-input">
                <input class="input-text" type="text" placeholder="First Name">
            </label>
            <label class="item-input">
                <input class="input-text" type="text" placeholder="Last Name">
            </label>
            <label class="item-input">
                <input class="input-text" type="text" placeholder="Email">
            </label>
            <label class="item-input">
                <input class="input-text" type="text" placeholder="Password">
            </label>
            
        </div>
        
        <br>
        <button class="button-block button-style opaque" ui-sref="locations">Register</button>
    
    </ion-content>
</ion-view>